@import "tailwindcss";

:root {
  --main: #D0F0D0;
  --white: #FFFFFF;
  --bg-disabled: #F4F3FE;
  --bg-hover-active: #F6F5FF;
  --bg-brand-default:#3E3E3E;
  --bg-brand-hover:#1E1E1E;

  --stroke-normal:#A9AEB7;
  --stroke-error:#E98888;
  --stroke-default:#BDBCDB;
  --stroke-hover:#0B0B0B;
  --stroke-field:#0B0B0B;

  --text-black:#212121;
  --text-grey:#818181;
  --text-lightgrey:#C9C8D3;
  --text-disabled:#C5C0DB;
  --text-validation:#FFB82E;
  --text-error:#F93232;
  --text-success:#439F6E;
  --text-link:#0F62FE;

  --button-default:#00B000;
  --button-hover:#018901;
  --button-activ:#027702;

}



body {
  background: var(--main);
  color: var(--text-black);
  font-family: Arial, Helvetica, sans-serif;
}
